body {
    background-image: url(http://i.imgur.com/K3mPv14.jpg);
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;
}

#view_campgrounds {
    margin: 10px;
}