body {
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
}

#texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  position: relative;
}

#view_campgrounds {
  margin: 15px;
}

#slideset {
  height: 1em;
  position: relative;
}

#slideset > * {
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: autoplay1 16s linear infinite;
}

@keyframes autoplay1 {
  0%{
    visibility: visible;
  }
  /* 0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  } */
  33.33% {
    visibility: hidden;
  }
}

#slideset > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset > *:nth-child(3) {
  animation-delay: 8s;
}
#slideset > *:nth-child(4) {
  animation-delay: 12s;
}

.navbar{
  height: 10px;
}
