<!DOCTYPE html>
<html>
  <head>
    <title>Edit Product Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <h1>Edit Product</h1>   

    <form action="edit" method="POST">
      <input type="text" name="name" value="<%=product.name%>" /> <br />
      <input type="text" name="description" value="<%=product.description%>" /> <br />

      <input type="submit" value="Submit Form" />
    </form>

    <div id="edit_product_container"></div>
    <script src="../../bundle.js"></script>
  </body>
</html>
