<!DOCTYPE html>
<html>
  <head>
    <title>Edit Product Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body class="m-4">
    <h1 class="text-center m-3">Edit Product</h1>   

    <form action="edit" method="POST">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="<%=product.name%>" />
      </div>
      <label>Description</label>
      <div class="form-group">
        <textarea class="form-control" rows="10" name="description"><%=product.description%></textarea>
      </div>

      <input class="btn btn-primary" type="submit" value="Submit Form" />
    </form>

    <script src="../../bundle.js"></script>
  </body>
</html>
