<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body class="container text-center p-4">
    <h1 class="mb-4">Product Show Page</h1>
    <div class="bg-light p-4 rounded">
      <img
        class="img-fluid rounded"
        width="800"
        src="<%= product.image %>"
        alt="Beach Pic"
      />
      <h3 class="p-4 header"><%= product.name %></h3>
      <h6><%= product.description %></h6>
    </div>
    <h1>Comments</h1>
    <div id="comments"></div>

    <!-- We need the following script for webpack to render React -->
    <script src="../../bundle.js"></script>
  </body>
</html>
