<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1>Product Show Page</h1>
    <p><%= product.id %></p>
    <p><%= product.name %></p>
    <p><%= product.description %></p>
</body>
</html>