body {
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
}

#texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  position: relative;
}

#view_campgrounds {
  margin: 15px;
}

.slideset li {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: autoplay1 50s linear infinite;
}

@keyframes autoplay1 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.slideset > li:nth-child(1) {
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
}
.slideset > li:nth-child(2) {
  background-image: url(../images/dog.jpg);
  animation-delay: 10s;
}
.slideset > li:nth-child(3) {
  background-image: url(../images/best_beach.jpg);
  animation-delay: 20s;
}
.slideset > li:nth-child(4) {
  background-image: url(../images/img_ash.jpg);
  animation-delay: 30s;
}
.slideset > li:nth-child(5) {
  background-image: url(../images/sunflower.jpg);
  animation-delay: 40s;
}

.navbar{
  height: 10px;
}
